doctype html
html
	head
		title= "Chatroom"
		script(src='js/jquery-2.1.4.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/chatroom.js')
		style
			include ../bower_components/bootstrap/dist/css/bootstrap.min.css
			include ../public/css/styles.css
	body
		ul.conversation
		form
			input#username(placeholder="Your name")
			input#message(placeholder="Message")
			button.btn.btn-primary Send

