doctype html
html
	head
		title= "Chatroom"
		script(src='js/jquery-2.1.4.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/chatroom.js')
		style
			include ../public/css/styles.css
	body
		ul.conversation
		form
			input#username
			input#message
			button Send

