doctype html
html
	head
		title= "Jacky Van"
		style
			include ../public/css/styles.css
	body

		div#nav
			ul#navbar
				a.navItem(href='chat-room') 
					li ChatRoom
					

		div.main
			div.banner
				h1 Jacky Van
